body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: auto;
  min-height: 100%;
  width: 100%;
  background-color: rgba(20,20,20,1);
  overflow-x: hidden;
}

body, ul, li, h1, h2, h3, h4, h5, a {
  margin: 0;
  text-decoration: none;
  padding: 0;
}

/* ----- HEADER ----- */

.main {
  width: 84vw;
  margin: 60px auto 0 auto;
}

ul {
  margin-bottom: 60px;
}

ul li {
  padding: 10px 20px;
  display: inline-block;
  background-color: #104F55;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.2s all ease;
}

ul li:hover, ul li:focus {
  background-color: #32746D;
  transition: 0.2s all ease;
}

h2 {
  color: white;
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-child {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

#main-all {
  width: 100%;
  margin-bottom: 60px;
}

#main-all:after {
  content: '';
  display: block;
  clear: both;
}

.serie-wrapper-main {
  width: 20vw;
  height: 20vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  background-size: cover !important;
  background-position: center !important;
}

.serie-wrapper {
  width: 20vw;
  height: 20vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  background-size: cover !important;
  background-position: center !important;
}

.serie {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  transition: 0.2s all ease;
}

.serie:hover, .serie:focus {
  background-color: rgba(0,0,0,0.0);
  transition: 0.2s all ease;
}

.serie h3 {
  text-align: center;
  width: 100%;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  font-weight: 900;
  padding: 20px 0;
  background-color: rgba(25,25,25,0.95);
  text-transform: uppercase;
}

.serie h4 {
  color: #ffffff;
  font-size: 16px;
  position: absolute;
  font-weight: 600;
  top: -1px;
  left: -1px;
  padding: 10px 20px;
  background-color: #104F55;
  border-bottom-right-radius: 10px;
}

.serie h5 {
  color: rgba(20,20,20,1);
  font-size: 16px;
  position: absolute;
  font-weight: 600;
  top: -1px;
  right: -1px;
  padding: 10px 20px;
  background-color: rgba(232,197,71,1);
  border-bottom-left-radius: 10px;
}

@media (min-width: 1280px) {
  .main {
    width: 78vw;
  }
  .serie-wrapper, .serie-wrapper-main {
    width: 12vw;
    height: 12vw;
  }
}

@media (max-width: 768px) {
  .main {
    width: 93vw;
  }
  .serie-wrapper, .serie-wrapper-main {
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 480px) {
  .main {
    width: 93vw;
  }
  .serie-wrapper, .serie-wrapper-main {
    width: 45vw;
    height: 45vw;
  }
}

